body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  /*background: linear-gradient(to right, rgba(227, 0, 0, 0.8), rgba(21, 191, 18, 0.8));*/
}

.all-list {
  margin: 20px;
}

.country-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.country {
  width: 20%;
  margin-bottom: 60px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.country:hover {
  margin-top: -20px;
  border-radius: 50px;
  box-sizing: border-box;
}

.img-icon {
  width: 100%;
  margin-top: 33px;
}

.country-icon {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.country-name {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  text-transform: uppercase;
}

.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #444; /* Темно-серый */
  color: white; /* Белый */
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-top-btn:hover {
  background-color: #0056b3;
}

.scroll-top-btn:focus {
  outline: none;
}

.scroll-top-btn.show {
  display: block;
}

.dropdown {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 110px;
  height: 35px;
  z-index: 9999;
}

/* Стили для кнопки Меню */
.dropbtn {
  width: 100%;
  height: 100%;
  background-color: #4CAF50; /* Цвет фона */
  color: white; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  border: none; /* Убираем границу */
  border-radius: 5px;
  cursor: pointer; /* Курсор при наведении */
}

/* Показываем выпадающий контент при наведении на кнопку Меню */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Стили для выпадающего списка */
.dropdown-content {
  position: absolute;
  top: 35px;
  display: none;
  background-color: #efebeb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 99999;
  border-radius: 20px;
  column-count: 3;
  font-size: 12px;
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

/* Изменение цвета фона ссылки при наведении */
.dropdown-content a:hover {
  background-color: #ddd; /* Измененный цвет фона при наведении */
}

.drp-search {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

/* Стили для поля поиска */
.search-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  width: 282px;
  z-index: 9999;
  justify-content: space-between;
}

/* Стили для поля ввода поиска */
#country-search {
  width: 200px; /* Ширина поля */
  padding: 10px; /* Отступы вокруг текста */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
}

/* Стили для кнопки Поиск */
.search-container button {
  background-color: #4CAF50; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 10px; /* Отступы вокруг текста */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
  cursor: pointer; /* Курсор при наведении */
}

/* Стили для кнопки Поиск при наведении */
.search-container button:hover {
  background-color: #45a049; /* Измененный цвет фона */
}

/* -----------------------------------------------------------------------*/

.header {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: #000000;
  overflow: hidden;
  background-image: url('https://sportishka.com/uploads/posts/2022-11/1667455222_10-sportishka-com-p-belarus-dostoprimechatelnosti-krasivo-11.jpg');
  background-size: cover;
  background-position: center bottom; /* Move the background image to the center bottom */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity as needed */
  z-index: 1;
}

.toc {
  position: relative;
  padding: 0 20px;
  z-index: 3;
  width: 1000px;
  margin-left: auto;
}

.ul-nav {
  text-align: right;
}

.li-nav {
  padding: 1px 10px;
  display: inline-block;
  list-style-type: none;
  border-radius: 20px;
  background: #333;
}

.header-info {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  margin: 0;
  font-size: 6vw;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.p-header {
  margin-top: 15px;
  color: #ffffff;
}

/* ------------------------------------------------------------------*/


/* Show the button when user scrolls down 20px from the top of the document */
@media (max-width: 1319px) {
  .country {
    width: 25%;
  }
}

@media (max-width: 1059px) {
  .country {
    width: 33.33%;
  }
}

@media (max-width: 797px) {
  .country {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .country {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .header {
    height: 200px;
  }

  .header-info {
    top: 50%;
  }

  #country-search {
    width: 110px;
    padding: 5px;
    height: 15px;
    font-size: 11px;
  }

  .search-container {
    width: 165px;
  }

  .search-container button {
    padding: 5px;
    font-size: 11px;
  }

  .dropdown {
    width: 80px;
    height: 25px;
  }

  .dropbtn {
    font-size: 11px;
  }

  .dropdown-content {
    top: 25px;
    font-size: 11px;
  }

  .dropdown-content a {
    padding: 5px 5px;
  }

  .country-list {
    padding: 10px;
  }
}